[Unit]
Requires=zookeeper.service
#After=zookeeper.service

[Service]
Type=simple
User={{ role_service_accaunt }}
ExecStart=/bin/sh -c '{{ programm_path }}/bin/kafka-server-start.sh {{ programm_path }}/config/server.properties > /var/log/kafka/kafka.log 2>&1'
ExecStop=/bin/sh -c '{{ programm_path }}/bin/kafka-server-stop.sh'
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
